USE [master]
GO
/****** Object:  Database [VinylRelease]    Script Date: 11/28/2022 00:35:18 ******/
CREATE DATABASE [VinylRelease]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VinylRelease', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VinylRelease.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VinylRelease_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VinylRelease_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VinylRelease].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VinylRelease]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 11/28/2022 00:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[artistId] [bigint] IDENTITY(1,1) NOT NULL,
	[artistName] [varchar](255) NOT NULL,
	[artistDesc] [varchar](max) NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[artistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistMaster]    Script Date: 11/28/2022 00:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistMaster](
	[artistId] [bigint] NOT NULL,
	[masterId] [bigint] NOT NULL,
 CONSTRAINT [PK_ArtistMaster] PRIMARY KEY CLUSTERED 
(
	[artistId] ASC,
	[masterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Master]    Script Date: 11/28/2022 00:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Master](
	[masterId] [bigint] IDENTITY(1,1) NOT NULL,
	[masterName] [varchar](255) NOT NULL,
	[masterYear] [smallint] NULL,
 CONSTRAINT [PK_Master] PRIMARY KEY CLUSTERED 
(
	[masterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Artist_artistName]    Script Date: 11/28/2022 00:35:19 ******/
CREATE NONCLUSTERED INDEX [IX_Artist_artistName] ON [dbo].[Artist]
(
	[artistName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArtistMaster_artistId]    Script Date: 11/28/2022 00:35:19 ******/
CREATE NONCLUSTERED INDEX [IX_ArtistMaster_artistId] ON [dbo].[ArtistMaster]
(
	[artistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArtistMaster_masterId]    Script Date: 11/28/2022 00:35:19 ******/
CREATE NONCLUSTERED INDEX [IX_ArtistMaster_masterId] ON [dbo].[ArtistMaster]
(
	[masterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Master_masterName]    Script Date: 11/28/2022 00:35:19 ******/
CREATE NONCLUSTERED INDEX [IX_Master_masterName] ON [dbo].[Master]
(
	[masterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArtistMaster]  WITH CHECK ADD  CONSTRAINT [FK_ArtistMaster_artistId] FOREIGN KEY([artistId])
REFERENCES [dbo].[Artist] ([artistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistMaster] CHECK CONSTRAINT [FK_ArtistMaster_artistId]
GO
ALTER TABLE [dbo].[ArtistMaster]  WITH CHECK ADD  CONSTRAINT [FK_ArtistMaster_masterId] FOREIGN KEY([masterId])
REFERENCES [dbo].[Master] ([masterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistMaster] CHECK CONSTRAINT [FK_ArtistMaster_masterId]
GO
USE [master]
GO
